<div class="admin-login-container">
    <h2>Admin Login</h2>
  
    <form [formGroup]="adminLoginForm" (ngSubmit)="onAdminLogin()">
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="username" />
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
      </div>
  
      <button type="submit" [disabled]="adminLoginForm.invalid">Login</button>
  
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
    </form>
  </div>
  