<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Cake Name</th>
      <th>Delivery Date</th>
      <th>Order Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.customer_name }}</td>
      <td>{{ order.phone_number }}</td>
      <td>{{ order.address }}</td>
      <td>{{ order.cake_name }}</td>
      <td>{{ order.delivery_date }}</td>
      <td>{{ order.order_date | date:'medium' }}</td>
      
    </tr>
  </tbody>
</table>
